appdirs>=1.4.4
numpy>=2.2.3
ollama>=0.4.7
openai>=1.65.4
polib>=1.2.0
psutil>=7.0.0
pyephem>=9.99
PySide6>=6.8.2.1
python_dateutil>=2.9.0
Requests>=2.32.3
scipy>=1.15.2
screeninfo>=0.8.1
torch>=2.6.0
wcwidth>=0.2.13
